<form action="/form" method="POST">
    <h1>Preencha as informações</h1>
    <p>Nome</p>
    <input type="text" name="name">
    <p>Email</p>
    <input type="text" name="email">
    <p>Idade</p>
    <input type="number" name="age">
    <button type="submit">Enviar</button>
</form>