<h1>Listas dos usuários cadastrados: </h1>

{{#each users }}
    <h2>{{dataValues.name}}</h2>
    <p>{{dataValues.email}}</p>
    <p>{{dataValues.age}}</p>
    <a href="del/{{dataValues.id}}"><button>Deletar</button></a>    
    <hr />
{{/each}}
